# IDE
.vscode/

# Python cache files
__pycache__/
*.pyc

0115_H_PULM_ALGS/
input/
obtained/
# Geometry and mesh files
*.vtp
# Miscellaneous files
vtkmodules_9.3.0_hierarchy.txt
correspondences.txt
fix-commands.txt
deploy_stent_standalone.py
deploy_stent.py
full_production_mode_test.py
full_vtk_standalone_test.py
potts_shunt_test.py
test_refactored.py