0115_H_PULM_ALGS/
input/
obtained/

SU0243-postop-estimated-cm.vtp
SU0243-preop-centerlines-cm.vtp
SU0243-preop-cm.vtp
SU0243-stented-SI-test.vtp
TST-STAN-5-post-mesh-surface.vtp
TST-STAN-5-pre-mesh-surface-centerlines.vtp
TST-STAN-5-pre-mesh-surface.vtp
TST-STAN-lpa-smoothed-preop-surface.vtp
blended-TST-STAN-5-d9mm-postop-surface.vtp
blended-TST-STAN-5-preop-centerlines.vtp
blended-TST-STAN-5-preop-mesh-surface.vtp
combined_segments.vtp
corrected-SU0243-preop-centerlines-cm.vtp
corrected_mesh.vtp
deployed_centerline.vtp
deployed_surface.vtp
obtained_aneurysm_centerline_aneurysm_constant_uniscale_run_scale_original.vtp
stenosis-small.vtp
vtkmodules_9.3.0_hierarchy.txt